@model PaginatedList<WebApplication1.Models.RouteModel>

@{
    ViewData["Title"] = "Routes";
}

<h1>Routes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RouteIDParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Route ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LineIDParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Line ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BuggyIDParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Buggy ID</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuggyID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RouteID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RouteID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RouteID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
